{% import "_attachments.html" as attachments %}
{% extends 'layout.html' %}
{% block content %}

<h6>Edit an issue</h6>
<form action="{{ url_for('edit_issue', slug=issue.project.slug, id=issue.id) }}" method="post" class="js-preprocess" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="field">
        {{ form.title(autofocus=True) }}
        {% if form.title.errors %}
            <div class="errors">
                {% for error in form.title.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {{ form.body(class="mention-target") }}
    <div class="field">
        <textarea class="mention">{{ form.body.data }}</textarea>
    </div>
    <div class="field">
        <input type="text" name="labels" id="labels" value="{{ issue.labels|join(', ') }}">
    </div>
    {% if issue.attachments %}
        {{ attachments.render(issue.attachments, True) }}
    {% endif %}
    {{ attachments.form() }}
    <div class="actions">
        <input type="submit" class="open" value="update issue">
    </div>
</form>

{% endblock %}
