{% extends 'layout.html' %}
{% block content %}

<h6>Edit an issue</h6>
<form action="{{ url_for('edit_issue', slug=issue.project.slug, id=issue.id) }}" method="post" class="js-preprocess">
    {{ form.csrf_token }} 
    {{ form.title(autofocus=True) }}
    {{ form.body(class="mention-target") }}
    <div>
        <textarea class="mention">{{ form.body.data }}</textarea>
    </div>
    <input type="text" name="labels" id="labels" value="{{ form.labels.data|join(', ') }}">
    <div class="actions">
        <input type="submit" class="open" value="update issue">
    </div>
</form>

{% endblock %}
