{% import "_forms.html" as forms %}

{% extends 'layout.html' %}
{% block content %}

    <h6>Issues</h6>
    <ul>
        {% for issue in issues %}
            <li data-id="{{ issue.id }}">
                <h6><a href="{{ url_for('issue_api', id=issue.id) }}">{{ issue.title }}</a></h6>
                <div>{{ issue.body }}</div>
                <div class='issue--meta'>
                    <div>
                        <img src="{{ issue.author.picture }}" class="thumb"> <span class="open">Opened</span> by {{ issue.author.name }}
                    </div>
                    {% if not issue.open %}
                    <div>
                        {% set last_closed_event = issue.last_closed_event() %}
                        <img src="{{ last_closed_event.author.picture }}" class="thumb"> <span class="close">Closed</span> by {{ issue.author.name }}
                    </div>
                    {% else %}
                        {% set last_opened_event = issue.last_opened_event() %}
                        {% if last_opened_event %}
                            <img src="{{ last_opened_event.author.picture }}" class="thumb"> <span class="open">Reopened</span> by {{ issue.author.name }}
                        {% endif %}
                    {% endif %}
                </div>
                {% if issue.open %}
                    <button href="{{ url_for('close_issue', id=issue.id) }}" data-action="close" class="close">close</button>
                {% else %}
                    <button href="{{ url_for('open_issue', id=issue.id) }}" data-action="open" class="open">reopen</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
