{% extends 'layout.html' %}
{% block content %}

    <h6 class="title">
        Issues
        <ul class="list__horizontal">
            <li><a href="{{ url_for('new_issue', slug=project.slug) }}">new</a></li>
        </ul>
    </h6>
    <ul class="list__horizontal__justify">
        {% if not issues %}
            <div class="notifications">
                Oh. My. Goodness. No issues here!
            </div>
        {% endif %}
        {% for issue in issues %}
            <li class="issue">
                <h4 class="title">
                    <a href="{{ url_for('issue_api', id=issue.id, slug=project.slug) }}">{{ issue.title }}</a>
                    {% if issue.github_id %}
                    <ul class="list__horizontal">
                        <li class="issue--id">#{{issue.github_id}}</li>
                    </ul>
                    {% endif %}
                </h4>
                <div class="issue--body body">{{ issue.parsed()|safe }}</div>
                <ul class='issue--meta'>
                    <li>
                        <img src="{{ issue.author.picture }}" class="thumb"> <span class="open">Opened</span> by {{ issue.author.name }}
                    </li>
                    {% if not issue.open %}
                    <li>
                        {% set last_closed_event = issue.last_closed_event() %}
                        <img src="{{ last_closed_event.author.picture }}" class="thumb"> <span class="close">Closed</span> by {{ issue.author.name }}
                    </li>
                    {% else %}
                        {% set last_opened_event = issue.last_opened_event() %}
                        {% if last_opened_event %}
                            <img src="{{ last_opened_event.author.picture }}" class="thumb"> <span class="open">Reopened</span> by {{ issue.author.name }}
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
