{% extends 'layout.html' %}
{% block content %}

    <h6>Issues</h6>
    <ul>
        {% for issue in issues %}
            <li>
                <h6><a href="{{ url_for('issue_api', id=issue.id, slug=project.slug) }}">{{ issue.title }}</a></h6>
                <div>{{ issue.body }}</div>
                <div class='issue--meta'>
                    <div>
                        <img src="{{ issue.author.picture }}" class="thumb"> <span class="open">Opened</span> by {{ issue.author.name }}
                    </div>
                    {% if not issue.open %}
                    <div>
                        {% set last_closed_event = issue.last_closed_event() %}
                        <img src="{{ last_closed_event.author.picture }}" class="thumb"> <span class="close">Closed</span> by {{ issue.author.name }}
                    </div>
                    {% else %}
                        {% set last_opened_event = issue.last_opened_event() %}
                        {% if last_opened_event %}
                            <img src="{{ last_opened_event.author.picture }}" class="thumb"> <span class="open">Reopened</span> by {{ issue.author.name }}
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
