{% extends 'layout.html' %}
{% block content %}

    <h6 class="title">
        Projects
        <ul class="list__horizontal">
            <li><a href="{{ url_for('new_project') }}">new</a></li>
        </ul>
    </h6>
    <ul class="list__horizontal__justify">
        {% for project in projects %}
            <li class="js-parent project">
                <h6 class='title'>
                    <a href="{{ url_for('project_api', slug=project.slug) }}">{{ project.name }}</a>
                    {% if project.author.id == current_user.id %}
                    <ul>
                        <li><a href="{{ url_for('project_api', slug=project.slug) }}" data-method="delete">delete</a></li>
                    </ul>
                    {% endif %}
                </h6>
                <ul>
                    <li><span class="open">{{ project.open()|count }}</span> open issues</li>
                    <li><span class="close">{{ project.closed()|count }}</span> closed issues</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
